@{
    ViewBag.Title = "Action";
}

<style type="text/css">
    /*fix jTable*/
    span.jtable-goto-page select, span.jtable-page-size-change select {
        height: 25px;
        width: 60px;
        padding: 2px 2px;
        margin-bottom:auto;
    }
    div.jtable-main-container table.jtable thead th {
        text-align: center;
    }
    div.jtable-main-container > table.jtable > tbody > tr.jtable-data-row > td {
        text-align: center;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#jTableAction').jtable({
            title: 'Action Master',
            paging: true, //Enable paging
            pageSize: 10, //Set page size (default: 10)
            sorting: true, //Enable sorting
            selecting: true, //Enable selecting
            defaultSorting: 'action_id', //Set default sorting
            actions: {
                listAction: '@Url.Action("ActionList","Master")',
                @*deleteAction: '@Url.Action("DeleteAction","Master")',*@
                updateAction: '@Url.Action("UpdateAction","Master")',
                createAction: '@Url.Action("CreateAction","Master")'
            },
            fields: {
                action_id: { title: 'ID', key: true, create: true, edit: false, width: '10%' },
                action_name: { title: 'Action Name', create: true, edit: true, width: '75%' },
                del_flag: { title: 'Status', create: false, edit: true, width: '15%', options: { 0: 'Active', 1: 'Inactive' } }
            }
        });
        //Load student list from server
        $('#jTableAction').jtable('load');

    });
</script>

<div id="jTableAction"></div>
